# Arduino
*.hex
*.elf
build/

# LaTeX
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.out

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
simulation_resultats.png

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
